/* basic normalization */
* {
    margin:0;
    padding:0;
}

html{
    font-size:62.5%;
}
/* General size */
body{
    min-height: 100vh;
    font-family:Consolas, Arial, sans-serif;
    font-size: 1.6em;
}

/*nav*/
nav{
    display:flex;
    align-items: center;
    padding: 0 2em;
    justify-content: space-between;
    background-color: #dea9a9;

}

nav ul{
    list-style: none;
    display: flex;
}

nav li{
    height: 2.5em;
}

nav a{
    font-size: 1.5rem;
    color: #ffffff;
    text-decoration:none;
    height:100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
}

/*nav a:link,*/
/*nav a:visited,*/
/*nav a:hover,*/
/*nav a:active,*/
/*nav a:focus {*/
/*    color: #ffffff;*/
/*}*/


nav a:hover{
    background-color: #9d7676;
}


.lg-menu{
    display:none;
}

.logo{
    display: flex;
    align-items: center;
    height:2em;
}

/* sidebar menu*/
.sm-menu{
    position: fixed;
    z-index: 1;
    display:none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    top: 0;
    right: 0;
    background-color: #dea9a9;
    width: 40%;
}

.sm-menu li,
.sm-menu a {
    width: 100%;
}

/* media queries*/
@media screen and (min-width: 600px){
    .lg-menu{
        display: flex;
    }

    .toggle-button{
        display: none;
    }


}
