/* basic normalization */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size:62.5%;
}
/* General size */
body{
    min-height: 120vh; /* exceeds 100vh to allow scrolling to demonstrate the nav is fixed */
    font-family:Consolas, Arial, sans-serif;
    font-size: 1.6em;
    line-height: 1.6;
    display: flex;
    justify-content: center;
}

/*nav*/
nav{
    width:90%;
    height:10rem;
    position:fixed;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display:flex;
    align-items: end;
    padding: 2rem;
    justify-content: space-between;
    background-color: rgb(88, 120, 255);
    border-radius: 0 0 2rem 2rem;
}

nav ul{
    list-style: none;
    display: flex;
}

nav li{
    height: 2.5em;
}

nav a{
    font-size: 2rem;
    color: #ffffff;
    text-decoration:none;
    height:100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
}


nav a:hover{
    background-color: #9d7676;
}


.lg-menu{
    display:none;
}

.logo{
    display: flex;
    align-items: center;
    height:2em;
    font-size: 2rem;
}

.logo a:hover{
    background-color: initial;
}

/* sidebar menu*/
.sm-menu{
    position: fixed;
    z-index: 1;
    display:none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    top: 0;
    right: 0;
    background-color: #5877fd;
    width: 40%;
}

.sm-menu li,
.sm-menu a {
    width: 100%;
}

/* content area */
#content{
    margin-top:15rem;
    width: 80%;
    display:flex;
    flex-direction: column;
}

footer{
    border-top: 1px solid rgb(88, 120, 255);
    padding: 2rem;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}


/* media queries*/
@media screen and (min-width: 600px){
    .lg-menu{
        display: flex;
    }

    .toggle-button{
        display: none;
    }
}
